* {
	padding: 0;
	margin: 0;
	font-family: 'Chelsea Market', cursive;
	font-weight: 100;
}

body {
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.main {
	width: 90%;
	margin: 100px auto;
}

/* NAVIGATION BAR */
	
.nav {
	background: #303030;
	width: 90%;
	height: 50px;
	margin: 0 auto;

}

.nav img {
	width: 35px;
	height: 35px;
	margin: 7.5px 20px
}

.nav__links li {
	display: inline-block;
	margin: 0 12px;
	padding: 12px 0;
	list-style-type: none;
}

.nav__links a {
	color: white;
}

.nav__links a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
}


/* SEMAFORO */

h1 {
	text-align: center
}

.semaforo {
	background: url(semaforo.png) no-repeat center center/cover;
	width: 240px;
	height: 290px;
	margin: 60px auto;
}

.luces {
	background: #b1b1b1;
	width: 75px;
	height: 75px;
	margin-left: 82px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 8px;
}

.luz-roja {
	margin-top: 28px;
	margin-bottom: 9px;
}

.luz-verde {
	margin-top: 9px;
}
.contenedor-boton {
	display: flex;
	flex-direction: row ;
	justify-content: center;
	align-item: center;
}

.boton {
	width: 150px;
	height: 60px;
	margin: 20px;
	border: none;
	padding: 5px;
}

.bgRojo {
	background-color: rgb(239, 35, 33);
}

.bgAmarillo {
	background-color: rgb(234, 183, 55); 	
}

.bgVerde {
	background-color: rgb(89, 216, 92);
}

/* BOTON */

.show-button {
	text-align: center;
}

.button {
	width: 100px;
	height: 50px;
	font-size: 16px;
}
